@model CheckNip.DB.Models.SubjectDb

@{
    ViewData["Title"] = "Dane podmotu";
    
}

<div class="container mt-3">
    <h2>Nazwa firmy: @Model.Name</h2>
    <br>
    <!-- Nav pills -->
    <ul class="nav nav-pills red" role="tablist">
        <li class="nav-item ">
            <a class="nav-link text-dark active" data-bs-toggle="pill" href="#home">Ogólne</a>
        </li>
        <li class="nav-item ">
            <a class="nav-link text-dark " data-bs-toggle="pill" href="#account">Konta bankowe</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark " data-bs-toggle="pill" href="#partners">Wspólnicy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark " data-bs-toggle="pill" href="#representative">Reprezentanci</a>
        </li>
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
        <div id="home" class="container tab-pane active">
            <div class="card-body">
                <p class="card-text">
                    @if (Model != null)
                    {
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Nazwa</th>
                                    <th scope="col">Dane podmiotu</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">@Html.DisplayName("REGON")</th>
                                    <td>@Html.DisplayFor(model => Model.Regon)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Data przywrócenia jako podatnika VAT")</th>
                                    <td>@Html.DisplayFor(model => Model.RestorationDate)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Adres rejestracyjny")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.WorkingAddress)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Podmiot posiada maski kont wirtualnych")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.HasVirtualAccounts)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Status podatnika VAT")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.StatusVat)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("numer KRS jeżeli został nadany")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.Krs)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Podstawa prawna przywrócenia jako podatnika VAT")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.RestorationBasis)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Podstawa prawna odmowy rejestracji")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.RegistrationDenialBasis)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("NIP")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.Nip)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Data wykreślenia odmowy rejestracji jako podatnika VAT")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.RemovalDate)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Firma (nazwa) lub imię i nazwisko")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.Name)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Data rejestracji jako podatnika VAT")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.RegistrationLegalDate)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Podstawa prawna wykreślenia odmowy rejestracji jako podatnika VAT")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.RemovalBasis)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("PESEL")</th>
                                    <td colspan="2">@Html.DisplayNameFor(model => Model.Pesel)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Adres siedziby działalności gospodarczej")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.ResidenceAddress)</td>
                                </tr>
                                <tr>
                                    <th scope="row">@Html.DisplayName("Data odmowy rejestracji jako podatnika VAT format")</th>
                                    <td colspan="2">@Html.DisplayFor(model => Model.RegistrationDenialDate)</td>
                                </tr>
                            </tbody>
                        </table>
                    }
                </p>

            </div>
        </div>
        <div id="account" class="container tab-pane fade">
            <br>
            @if (Model != null)
            {
                <dl class="row">
                    <dt class="col-sm-5">
                        @Html.DisplayNameFor(model => Model.AccountNumbers)
                    </dt>
                    <dd class="col-sm-10">
                        @if (Model.AccountNumbers != null)
                            @foreach (var account in Model.AccountNumbers)
                            {
                                @account.Value <br />
                            }
                    </dd>
                </dl>

            }
        </div>
        <div id="partners" class="container tab-pane fade">
            <br>
            @if (Model.Partners != null)
            {
                @foreach (var partner in Model.Partners)
                {
                    @partner.FirstName <br />
                    @partner.LastName <br />
                    @partner.Nip <br />
                    @partner.pesel <br />
                    @partner.CompanyName <br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Dane wspólnika</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row">@Html.DisplayName("Imie")</th>
                                <td>@partner.FirstName</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayName("Nazwisko")</th>
                                <td>@partner.LastName</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayName("NIP")</th>
                                <td colspan="2"> @partner.Nip</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayName("PESEL")</th>
                                <td colspan="2">@partner.pesel</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayName("Nazwa firmy")</th>
                                <td colspan="2">@partner.CompanyName</td>
                            </tr>

                        </tbody>
                    </table>
                }
            }
        </div>
        <div id="representative" class="container tab-pane fade">
            <br>
            @if (Model.Representatives != null)
            {
                @foreach (var partner in Model.Representatives)
                {
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">Nazwa</th>
                                <th scope="col">Dane wspólnika</th>
                            </tr>
                        </thead>

                        <tbody>
                            <tr>
                                <th scope="row">@Html.DisplayName("Imie")</th>
                                <td>@partner.FirstName</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayName("Nazwisko")</th>
                                <td>@partner.LastName</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayName("NIP")</th>
                                <td colspan="2"> @partner.Nip</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayName("PESEL")</th>
                                <td colspan="2">@partner.pesel</td>
                            </tr>
                            <tr>
                                <th scope="row">@Html.DisplayName("Nazwa firmy")</th>
                                <td colspan="2">@partner.CompanyName</td>
                            </tr>

                        </tbody>
                    </table>
                }
            }
        </div>
    </div>
</div>

<div>
    <a class="btn btn-outline-dark" asp-action="Index">Wstecz</a>
</div>
